@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@*
vedi _ViewImports.cshtml
*@

@model Pie 

@{
    ViewData["Title"] = "Pie";
}

<div>
    <div>
        <h1>@Model.Name</h1>
    </div>
    <div>

    </div>
    <div class="addToCart">
        <p class="button">
            <a class="btn btn-primary" asp-controller="Shoppingcart" asp-action="AddToShoppingCart" asp-route-pieId="@Model.PieId">Add to cart</a>
        </p>
    </div>
    <div>
        <a asp-controller="Pie" asp-action="Index">Home</a>
        <a asp-controller="Pie" asp-action="list">List</a>
    </div>
</div>