
@model ShoppingCartViewModel

@if(Model.ShoppingCart.ShoppingCartItems.Count > 0)
            {
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
        <i class="fas fa-shopping-cart"></i>
        <span id="cart-status">
            @Model.ShoppingCart.ShoppingCartItems.Count
        </span>
    </a>
</li>
            }